<!-- carousel nav쪽 수정!!-->
<header>

	<nav class="navbar navbar-default">

		<!--이부분 고침-->
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a href="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item">
					<a href="#m2" class="nav-link">튜터링</a>
				</li>

				<li class="nav-item">

					<% if(isAuthenticated){ %>
				<li><a href="/users/<%= currentUser.username %>" class="nav-link">My Account</a></li>
				<li><a href="/logout" class="nav-link">Logout</a></li>
				<% } else { %>
				<li><a href="/users/new" class="nav-link">Sign Up</a></li>
				<li><a href="/login" class="nav-link">Login</a></li>
				<% } %>

			</ul>



			<!-- 스터디 조회 -->

			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>

		</div>
	</nav>
</header>
